<h1><%= @restaurant.name %></h1>
<p>Find us at <%= @restaurant.address %>!</p>
<p>Call us at <%= @restaurant.phone_number %></p>
<p>We make great <%= @restaurant.category %> cuisine!</p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li> - <%= review.rating %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
